@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./shadcn.css";
@import "./scrollbar.css";
@import "./proseOverride.scss";

html {
  font-size: 15px;
}

@media (min-width: 800) {
  html {
    font-size: 20px;
  }
}

.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
