/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

/* For Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) #1a1a1a;
} */